<!-- ### link to home others ### -->

<!-- <a href="/portfolio/">Return home</a>
<%= link_to 'Return home', '/portfolio/index' %> -->

<!-- <%=link_to 'about_me', pages_about_me_url %>
<%=link_to 'about_me', pages_about_me_path %> -->

<!-- <a href="/home">Return home</a> -->
<!-- # <%= link_to 'home', root_path %> -->


 <div class="about_me_page">
   <img src="https://images.pexels.com/photos/34020/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" width="1000" height="700" usemap="#Map" alt="about_me_img">

   <div class="about_me_text1">
     <a href="#about_me_hashtag1" data-scroll><h3>Takahiro Suzuki</h3></a>
   </div>
   <div class="about_me_text2">
     <a href="#about_me_hashtag2" data-scroll><h3>Living place</h3></a>
   </div>
   <div class="about_me_text3">
     <h3>Hobby</h3>
   </div>
   <div class="about_me_text4">
     <a href="#about_me_hashtag4" data-scroll><h3>Interest</h3></a>
   </div>
   <div class="about_me_text5">
     <a href="#about_me_hashtag5" ><h3>Contact</h3></a>

   </div>
 </div>

<!-- ############################################################# -->
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ############## Takahiro Suzuki part ################# -->
<h2 id="about_me_hashtag1">Takahiro Suzuki <%= image_tag 'jp-flag.png', class:"jp_flag" %></h2>

<!-- <div class="col-md-6">
  <div class="taka_photo"> -->
    <%= image_tag 'profileimg.png', class:"profile_img" %>
  <!-- </div>
</div> -->
 <!-- <div class="col-md-6">
    <div class="taka_description"> -->
    test descriptiosn
    <!-- </div>
 </div> -->

<!-- ###################################################### -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<!-- ############## Living place part ################# -->
<h2 id="about_me_hashtag2">Living place<h2>
test description 2

<!-- ################################################## -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<!-- ############## Interest part ################# -->
<h2 id="about_me_hashtag4">Interest<h2>
  test description 4
  personality

<!-- ############################################## -->
<br>
<br>
<br>
<br>
<br>
<br>
<!-- ############## Test part ################# -->
<h2 id="about_me_hashtag5">Contact<h2>
  test description 5




<!--
<a href="#about_me_text2" data-scroll></a>
<h2 id="about_me_text2">Living place</h2>

<a href="#about_me_text3" data-scroll></a>
<h2 id="about_me_text3">Hobby</h2>

<a href="#about_me_text4" data-scroll></a>
<h2 id="about_me_text4">Interest</h2>

<a href="#about_me_text5" data-scroll></a>
<h2 id="about_me_text5">Test</h2> -->

<!-- ####### smooth scroller ######## -->
<script>
  // スムーススクロールを起動する
  smoothScroll.init() ;
</script>
<!-- ################################ -->
