<!-- <h1>Pages#experience</h1>
<p>Find me in app/views/pages/experience.html.erb</p> -->

 <!-- <%= link_to 'home', root_path %> -->

<br>
<br>
<div class="forrgba white-text">

<div class="experiencepage">
  <div class="experience ex">
    <img src="https://static.pexels.com/photos/273886/pexels-photo-273886.jpeg", id="experience_img" />
    <h2>Experience</h2>
  </div>
</div>

<br>
<br>
<br>

<!-- ####### swdeveloper #######  -->
<div class="text-swdeveloper">
  <h2> (Feb. 2017 - ) </h2>
  <h2>Web developer</h2>
</div>
 <div class="swdeveloper">
   <a href="https://www.coderfactoryacademy.edu.au/"><%= image_tag 'cfa-logo.png', id:"cfa-logo_img" %></a>
 </div>

<br>
<br>
<br>

 <div class="container-swdeveloper">
   <div class="row-swdeveloper">
     <div class="codingskill col-md-3"><h2>Ruby</h2></div>
     <div class="codingskill col-md-3"><h2>HTML</h2></div>
     <div class="codingskill col-md-3"><h2>CSS</h2></div>
     <div class="codingskill col-md-3"><h2>Ruby on rails</h2></div>
   </div>
 </div>
<!-- ###########################  -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<!-- ####### petrochemicals trading company ####### -->
 <div class="mbc">
   <div class="petrochemicals">
     <h2> (Apr. 2013 - Nov. 2016) </h2>
     <h2>Petrochemicals trading company<h2>
     </div>
   <div class="flex-container-mbc">
     <div class="row">

  <br>
  <br>
           <!-- <div class="plant">
            <img src="https://static.pexels.com/photos/208695/pexels-photo-208695.jpeg" id="salesbackground"/>
           </div> -->
          <div class="salespart col-md-4">
           <div class="sales">
             <%= image_tag 'shakehands.png', id:"shakehands_img" %>
             <h3>Sales, Consulting</h3>
             <!-- <h2>import, export and intermediate trade, supply chain management, relationship building<h2> -->
           </div>
           <!-- <div class="text-sales">
           <h3>Sales, Consulting</h3>
           <h2>import, export and intermediate trade, supply chain management, relationship building<h2>
           </div> -->
          </div>

         <div class="marketerpart col-md-4">
           <div class="marketing">
             <img src="https://static.pexels.com/photos/95916/pexels-photo-95916.jpeg" id="marketing_img" />
             <h3>Marketing</h3>
           </div>
           <!-- <div class="text-marketer">
             <h3>Marketer</h3>
           </div> -->
         </div>

         <div class="logisticspart col-md-4">
           <div class="logistics">
             <img src="https://static.pexels.com/photos/122164/pexels-photo-122164.jpeg" id="logistics_img" />
             <h3>Logistics management</h3>
           </div>
           <!-- <div class="text-logistics">
             <h3>Logistics management</h3>
           </div> -->
         </div>
     </div>
</div>
 <!-- ##########################################  -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 <!-- ####### University #######  -->

  <div class="university">
    <div class="flex-container-mbc">
      <div class="row">
        <div class="waseda">
          <h2> (Apr. 2009 - Mar. 2013) </h2>
          <h2>WASEDA UNIVERSITY<h2>
        </div>
   <br>
   <br>
        <div class="studypart col-md-4">
          <div class="major">
            <a href="https://www.waseda.jp/fsss/sss/en/"><%= image_tag 'IR.png', id:"IR_img" %></a>
            <h3>Bachelor of Social Science (International Relation)</h3>
          </div>
        </div>

        <div class="tennispart col-md-4">
          <div class="tennis-event">
            <img src="https://static.pexels.com/photos/171568/pexels-photo-171568.jpeg" id="tennis_img" />
            <h3>Managing tennis event organization</h3>
          </div>
        </div>

        <div class="jobspart col-md-4">
          <div class="waiter">
            <%= image_tag 'jpfood.png', id:"jpfood_img" %>
            <h3>Waiter at Sushi restaurant</h3>
          </div>
          <!-- <div class="text-logistics">
            <h3>Logistics management</h3>
          </div> -->
        </div>
    </div>
  </div>
</div>
 <!-- ###########################  -->
</div>
