<!-- <h1>Pages#experience</h1>
<p>Find me in app/views/pages/experience.html.erb</p> -->

 <!-- <%= link_to 'home', root_path %> -->

<br>
<br>
<!-- ####### swdeveloper #######  -->
<div class="text-swdeveloper">
  <h2> (Feb. 2017 - ) </h2>
  <h2>Software developer</h2>
</div>
 <div class="swdeveloper">
   <a href="https://www.coderfactoryacademy.edu.au/"><%= image_tag 'cfa-logo.png', id:"cfa-logo_img" %></a>
 </div>
<!-- ###########################  -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<!-- ####### petrochemicals trading company ####### -->
 <div class="mbc">
   <div class="flex-container-mbc">
     <div class="row">
       <div class="petrochemicals">
         <h2> (Apr. 2013 - Nov. 2016) </h2>
         <h2>Petrochemicals trading company<h2>
       </div>
  <br>
  <br>

         <!-- <div class="plant">
          <img src="https://static.pexels.com/photos/208695/pexels-photo-208695.jpeg" id="salesbackground"/>
         </div> -->
       <div class="salespart col-md-4">
         <div class="sales">
           <%= image_tag 'shakehands.png', id:"shakehands_img" %>
           <h3>Sales, Consulting</h3>
           <h2>import, export and intermediate trade, supply chain management, relationship building<h2>
         </div>
         <!-- <div class="text-sales">
         <h3>Sales, Consulting</h3>
         <h2>import, export and intermediate trade, supply chain management, relationship building<h2>
         </div> -->
       </div>

       <div class="marketerpart col-md-4">
         <div class="marketer">
           <img src="https://static.pexels.com/photos/95916/pexels-photo-95916.jpeg" id="marketer_img" />
           <h3>Marketer</h3>
         </div>
         <!-- <div class="text-marketer">
           <h3>Marketer</h3>
         </div> -->
       </div>

       <div class="logisticspart col-md-4">
         <div class="logistics">
           <img src="https://static.pexels.com/photos/122164/pexels-photo-122164.jpeg" id="logistics_img" />
           <h3>Logistics management</h3>
         </div>
         <!-- <div class="text-logistics">
           <h3>Logistics management</h3>
         </div> -->
       </div>
   </div>
 </div>
 <!-- ##########################################  -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <!-- ####### University #######  -->
   <h3>International Relation - Socisl Science</h3>
 </div>

    <a href="https://www.waseda.jp/fsss/sss/en/"><%= image_tag 'cfa-logo.png', id:"cfa-logo_img" %></a>
  </div>

  <div class="wseda">
    <div class="flex-container-mbc">
      <div class="row">
        <div class="Uni">
          <h2> (Apr. 2009 - Mar. 2013) </h2>
          <h2>WASEDA UNIVERSITY<h2>
        </div>
   <br>
   <br>

          <!-- <div class="plant">
           <img src="https://static.pexels.com/photos/208695/pexels-photo-208695.jpeg" id="salesbackground"/>
          </div> -->
        <div class="salespart col-md-4">
          <div class="sales">
            <%= image_tag 'shakehands.png', id:"shakehands_img" %>
            <h3>Sales, Consulting</h3>
            <h2>import, export and intermediate trade, supply chain management, relationship building<h2>
          </div>
          <!-- <div class="text-sales">
          <h3>Sales, Consulting</h3>
          <h2>import, export and intermediate trade, supply chain management, relationship building<h2>
          </div> -->
        </div>

        <div class="marketerpart col-md-4">
          <div class="marketer">
            <img src="https://static.pexels.com/photos/95916/pexels-photo-95916.jpeg" id="marketer_img" />
            <h3>Marketer</h3>
          </div>
          <!-- <div class="text-marketer">
            <h3>Marketer</h3>
          </div> -->
        </div>

        <div class="logisticspart col-md-4">
          <div class="logistics">
            <img src="https://static.pexels.com/photos/122164/pexels-photo-122164.jpeg" id="logistics_img" />
            <h3>Logistics management</h3>
          </div>
          <!-- <div class="text-logistics">
            <h3>Logistics management</h3>
          </div> -->
        </div>
    </div>
  </div>
 <!-- ###########################  -->
